name: Build and Push Docker Image to Google Artifact Registry

on:
  push:
    branches:
    - 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

    - name: Code Checkout
      uses: actions/checkout@v2

    - name: Install the gcloud CLI
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.GOOGLE_PROJECT_ID }}
        service_account_key: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
        export_default_credentials: true

    - name: Buld and Push the Docker Image
      env: 
        GOOGLE_PROJECT_ID: ${{ secrets.GOOGLE_PROJECT_ID }}
        GOOGLE_ARTIFACT_REGISTRY_PATH: ${{ secrets.GOOGLE_ARTIFACT_REGISTRY_PATH }}
      run: |
        gcloud auth configure-docker us-central1-docker.pkg.dev
        docker build -t $GOOGLE_ARTIFACT_REGISTRY_PATH/nexus-search-backend:latest .
        docker push $GOOGLE_ARTIFACT_REGISTRY_PATH/nexus-search-backend:latest